/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2019, 7:38:06 PM
    Author     : lucas
*/

*{
    margin:0px;
    padding: 0;
}
input{
    padding: 0.5%;
    margin: 5px;
    width: 30%;
}
input[type="submit"]{
    padding: 1%;
    width: 20%;
}
form,header{
    text-align: center;
}
form{
    margin-top: 10%;
}
imgHeader{
}